*.pyc
models
venv
*.txt
*.log
logs
*.swp
images/*
3d
.DS_Store
.env
llmcache.db
.scrapy
.vscode
node_modules/
*.env
frontend/src/firebase.js
ai.egg-info/PKG-INFO
build
dist
*.egg-info/
*.egg-info/
documents
